<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login Page</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST" action="">
        {{ form.hidden_tag() }} 
        <!--  csrf_token() -->
        <!-- Abdullah Nadeem 22i-1597 -->
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=30) }}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=30) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p>Not registered? <a href="{{ url_for('register') }}">Create an account</a></p>
</body>
</html>